<a
  href="/streaming/1"
  class="flex-shrink-0 cursor-pointer w-60 h-72 border-4 border-secondary relative flex flex-col"
>
  <div class="relative h-36">
    <img class="h-full" src="assets/img/fd31_f60c.jpg" alt="" srcset="" />
    <span class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="72"
        height="72"
        fill="currentColor"
        class="bi bi-play-fill text-primary"
        viewBox="0 0 16 16"
      >
        <path
          d="m11.596 8.697-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"
        />
      </svg>
    </span>
  </div>
  <div class="flex flex-col m-1.5 space-y-2">
    <div class="flex flex-row justify-between items-center">
      <span>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          fill="currentColor"
          class="bi bi-heart-fill text-secondary"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
          />
        </svg>
      </span>
      <p class="text-sm font-lora text-secondary">432 Views</p>
    </div>
    <p class="text-2xl text-secondary font-lora">Kosambisama ya Kimpa Vita</p>
    <p class="text-sm font-lora text-secondary">Vuvamu TV</p>
  </div>
</a>
