<div class="h-full w-full bg-dark">
  <div class="w-full h-full flex flex-col space-y-8 px-8 pt-2 pb-8 relative">
    <app-navbar></app-navbar>
    <div class="w-full h-96">
      <video class="w-full h-full" controls>
        <source
          src="https://firebasestorage.googleapis.com/v0/b/hair-stylist-scheduler.appspot.com/o/sample.mp4.mp4?alt=media&token=bf0ed2e4-4941-49f7-80f2-3dd4ea63d47a"
          type="video/mp4"
        />
      </video>
    </div>
    <section id="videos">
      <app-card-scroller [heading]="'Our Videos'"></app-card-scroller>
    </section>
  </div>
  <app-footer></app-footer>
</div>
